@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

.frame {
    position: absolute;
    top: 50%;
    left: 50%;
	margin-top: -200px;
 	margin-left: -200px;
    height: 400px;
    width: 400px;
    border: 50px;
    border-color: black;   
    box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
    border-radius: 2px;
    overflow: hidden;
	background: rgb(168,196,197);
	background: linear-gradient(39deg, rgba(168,196,197,1) 34%, rgba(65,118,149,1) 91%);
    display: grid;
	place-items: center;
    font-family: "Open Sans", Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
    width: 300px;
	height: 300px;
    text-align: center;
    top: 50%;
    left: 50%;
	overflow: hidden;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
	display: flex;
    background-color: #ffffff;
    border-radius: 2px;
}


.profile {
	width: 180px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
    background-color: #f2f1f1;
}

.links {
	width: 120px;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 1px;
    background-color: #ffffff;
}

.link {
	flex: 1;
	background: #cdcdcd;
	display: flex;
    font-size:smaller;
	flex-direction: column;
	justify-content: center;
    color: #000000;
	cursor: pointer;
	transition: all 0.2s;
	&:hover {
		background: #a0b2b3;
        color: black;
	}
	& span {
		&:first-child {
			font-size: 18px;
			font-weight: bold;
		}
	}
}

.name {
    font-size: large;
    font-weight: bold;
}

.subtitle {
    font-size: 12px;
    font-weight: normal;
}

.header {
	span 
		;display:block;
		&:first-of-type {
			margin-top: 16px;
			font-size: 18px;
			margin-bottom: 2px;
		}
	}


.actions button {
	transition: all 0.2s;
	border-radius: 15px;
	cursor: pointer;
	font-size: 12px;
	width: 120px;
	height: 30px;
	margin: 5px 0;
	font-weight: bold;
	border-style: none;
    background-color: #bdd8d9;
    color: #417695;
	&:hover {
		color: #ffffff;
		background: #417695;
	}
}

.photo {
	width: 70px;
	height: 70px;
	position: relative;
    background: url("griffith.jpg");
	background-size:cover;
    background-size: 100% 100%;
    border-radius: 50%;
	display: flex;
	left: 10px;
	align-items: center;
	justify-content: center;
	box-sizing:border-box;
    border-radius:50%;
	width: 70px;
	height: 70px;
	}
	hover {
		.spinner {
			transform: rotate(-360deg);
			&:first-of-type {
				transform: rotate(360deg);
			}
		}	
	}


.spinner {
	transition: all 1.5s ease-in-out;
	position: absolute;
	border-radius: 50%;
	border-width: 1px;
	border-style: solid;
	border-color: #414559 transparent #414559 #414559;
	width: 80px;
	height: 80px;
	&:first-of-type {
		width: 74px;
		height: 74px;
		border-color: #414559 #414559 #414559 transparent;
	}
}



